.sideContainer {
  display: flex;
  width: 100%;
}

.reviewWrapper {
  flex: 10;
  background-color: rgb(46, 42, 42);
  position: relative;
}

.reviewTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3px;
}

.reviewCompleteButton {
  position: absolute;
  top: 2px;
  right: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completeButton {
  cursor: pointer;
  margin-top: 3px;
  width: 50px;
  height: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: rgb(8, 129, 190);
}

.startDay,
.countReview {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.reviewContainer {
  display: flex;
}

.reviewTop {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(36, 36, 36);
  height: 15%;
  width: 40%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewInput {
  width: 40%;
  height: 30%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 2px;
}

.reviewInput:focus {
  outline: none;
}

.inputOutput {
  cursor: pointer;
  width: 20%;
  height: 30%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(8, 129, 190);
}

.addIconContainer {
  display: flex;
  color: white;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addIconButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.addIconButton {
  cursor: pointer;
}

.addIcon {
  display: flex;
  align-items: center;
}

.iconText {
  font-size: 14px;
  font-weight: 550;
  margin-left: 3px;
}
